{% set currentYear = now|date("Y") %}

<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>{{ site.title }} &copy; {{ currentYear }} - Todos os direitos reservados.</p>
    </section>
</section>

{# Render the backtotop link #}
{% if config.plugins.backtotop.enabled %}
    {% include 'partials/backtotop.html.twig' %}
{% endif %}